name: Run tests
on: push
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build app
        working-directory: android-app
        run: ./gradlew assembleDebug assembleAndroidTest
      - name: Run tests
        uses: MarathonLabs/action-test@main
        with:
          apiKey: ${{ secrets.MARATHON_CLOUD_API_TOKEN }}
          application: android-app/app/build/outputs/apk/debug/app-debug.apk
          testApplication: android-app/app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk
          platform: Android
          version: 1.0.51
